[Unit]
Description=ffl-testing on port %i

[Service]
User=arian
# allow access to /dev/dri/renderD128
# run to confirm: EGL_PLATFORM=surfaceless eglinfo -B -a glcore
SupplementaryGroups=render

# change this to wherever you run FFL-Testing
WorkingDirectory=/home/arian/FFL-Testing
ExecStart=/home/arian/FFL-Testing/ffl_testing_2 --port %i

Environment=EGL_PLATFORM=surfaceless

# auto restart on failure
Restart=always
RestartSec=20

# Sandbox setting.
# NOTE: NOTE: If you are reading, and these sandboxing options cause problems...
# ... feel free to remove all lines below this.
PrivateTmp=false
# Allow access to X socket.
BindReadOnlyPaths=/tmp/.X11-unix

ProtectSystem=strict
ProtectHome=true
# allow read access under /home
ProtectHome=read-only
NoNewPrivileges=true
PrivateDevices=false
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
RestrictNamespaces=true
LockPersonality=true
#MemoryDenyWriteExecute=true # Breaks llvmpipe software rendering.
RestrictRealtime=true
SystemCallArchitectures=native
SystemCallFilter=@system-service
CapabilityBoundingSet=~CAP_SYS_ADMIN CAP_SYS_MODULE CAP_SYS_RAWIO
DevicePolicy=closed
DeviceAllow=/dev/null rw
DeviceAllow=/dev/tty rw
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
# Allow access to GPU devices.
DeviceAllow=/dev/dri/card0 rw
DeviceAllow=/dev/dri/renderD128 rw

# Allow paths. TODO: MUST BE CHANGED for your system.
ReadWritePaths=/home/arian/FFL-Testing
ReadOnlyPaths=/home/arian/libc-238-usr

[Install]
WantedBy=multi-user.target
